.bg-container {
    width: 100%;
    /* border: 3px red solid; */

}

.header {
    height: 10vh;
    background-color: #f6f8fa;
    border: 1px #eef1f4 solid;
    margin-bottom: 10px;
}

.package-owner {
    text-align: left;
    color: #73a9e9;
    font-size: 30px;
    margin: 5px;
}

.pakage-name {
    color: #478fe3;
    font-weight: solid;
    font-size: 32px;
}

.issues-heading {
    color: green;
    margin: 10px;
    font-size: 24px;

}

.search-input-container {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 4px;
    padding-left: 12px;
    padding-bottom: 4px;
    padding-right: 12px;

    background-color: #f6f8fa;
    border: 1px #eef1f4 solid;
    /* border:2px green solid; */
}

.search-icon {
    width: 24px;
    height: 24px;
    margin-top: 10px;
}

.search-input {
    margin-top: 10px;
    color: #64748b;
    font-family: 'Roboto';
    font-size: 20px;
    width: 100%;
    height: 40px;
    border: none;
    margin-left: 16px;
    outline: none;
    background-color: #f6f8fa;
    /* 
    border: 1px #eef1f4 solid; */

    /* border:2px green solid; */
}

.issues-container {
    width: 100%;
    /* border:2px green solid; */



}

