.issue-list-item {
    width: 60%;
    margin: auto;
    border: 1px #e3e8ec solid;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    line-height: 1.5;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.issue-list-item:hover {
    background-color: #f6f8fa;
}

.issues-heading {
    text-align: center;
    color: red;

}

.circular-icon {
    width: 10%;
    margin: 10px;
    height: 30px;
    width: 20px;
    color: green;

    /* border:2px green solid; */
}

.issue-details-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border:2px red solid; */
}

.issue-title {
    padding: 0px;
    margin: 0px;
    font-size: 24px;
    /* border:2px yellow solid; */
}

.issue-title:hover {
    color: blue;
}

.issue-info {
    font-size: 14px;

}

.icons-container {
    width: 40%;


    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    /* border:2px green solid; */

}

.comment-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
    /* border:2px red solid; */


}

.comment-icon {
    /* padding:30px; */
    margin: 3px;
    /* border:2px green solid; */
}